<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Derived Sources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WebCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>WebCoreExportFileGenerator Generator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>WebCoreExportFileGenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>215F358315AAA4C800584D2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>215F358F15AAA5C800584D2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>215F35A015AAAD7F00584D2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>215FD06315AA9C3300584D2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
